################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Heist/bin/x86/Debug/AppX
/Heist/bin/x86/Debug
/Heist/obj/x86/Debug
